.kepsek p {
    text-align: center;
    font-weight: bold;
    padding: 20px;
    width: 100%;
    background-color: #106eea;
    color: #ffffff;
    border-radius: 10px;
}

.kepsek img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}